* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'montseratt', sans-serif;
    background-color: rgb(96, 96, 202);
  }
  
  .app{
    background-size: cover;
    transition: 0.4 case-out;

  }
  
  main {
  
    margin: 0 auto;
    justify-content: center;
    background: rgb(208, 164, 81);
    border: 2px wheat solid;
    max-width: 450px;
    max-height: 650px;
    border-radius: 40px;
    box-shadow: 2px 0px 5px 6px ( 0,0,0,0.75);
    margin-top: 100px;
  }
  

.search-box {
    width: 100%;
  margin: 0 0 75px;

}

.search-box .search-bar {
    display: block;
  
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(225, 225, 255, 0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -5px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
    max-width: 400px;
    margin: 0 auto;

}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}
form {
    border: none;
}

.location-box .location {

    font-size: 32px;
  font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50,50,70,0.5) ;
  
  }
  .weather-box{
    text-align: center;
  }
  .weather-box .temp{
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255,255,255,0.2);
   border-radius: 16px;
    padding: 15px 25px;
    
    font-size: 40px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
    display: flex;
    max-width: 350px;
  }
  
  .weather-box .weather{
    color: black;
    font-size: 48px;
    font-weight: 500px;
    text-shadow: 3px 3px rgba (50,50,70, 0.5);
  }
  .weather-icon {
 width: 100px;
 height: 100px;
    object-fit: contain;
    display: flex;

    margin: 0 auto;
  }
  